#app {
  width: 100%;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

iframe {
  height: 100%;
  width: 100%;
  object-fit: cover
}

div {
  object-fit: cover;
}

#st {
  float: left;
  height: 100%;
  overflow: hidden;
  width: 25%;
}

.st-c {
  height: 50%;
  object-fit: cover;
}

.split-horizontal {
  border: 2px solid;
  resize: horizontal;
  overflow: hidden;
  float: left;
  height: 100%;
  width: 75%;
}

.split-vertical {
  border: 2px solid;
  resize: vertical;
  overflow: hidden;
  height: 50%;
}
