:root {
    --accent: #2c2c2c;
    --primary: #4d4d4d;
    color-scheme: light dark;
}

#livetl-chat {
    width: 100%;
    min-height: 0px;
    height: 100%;
    border: none;
}

#chat {
    width: 100%;
    height: 100%;
    min-height: 0px;
    border: none;
}

#stream {
    width: 100%;
    height: 100%;
    border: none;
}

* {
    background-color: black;
}

#leftPanel {
    width: 75%;
    height: 100%;
    top: 0;
    left: 0;
}

#rightPanel {
    flex-grow: 1;
    height: 100%;
    flex-direction: column;
    display: flex;
}

#topRightPanel {
    width: 100%;
    height: 80%;
    max-height: 100%;
}

body {
    margin: 0;
}

.handle {
    background-color: var(--primary);
}

#handleV {
    width: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#handleH {
    height: 10px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 1;
}

#handleH > span {
    margin-bottom: -1px;
    font-size: 20px;
}

.handle > span {
    color: lightgray;
    font-size: 19px;
    background-color: transparent;
}

#display {
    width: 100%;
    height: 100%;
    display: flex;
}

.ui-resizable-s {
    bottom: 0px !important;
}

.ui-resizable-e {
    right: 0px !important;
}

body {
    overflow: hidden;
}

.iframeWrapper {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.iframeWrapper > iframe {
    min-width: 0px !important;
    position: absolute;
    height: 100%;
    width: 100%;
}

#bottomRightPanel {
    width: 100%;
    flex-grow: 1;
    position: relative;    
    height: 0;
}

#ltlcaptions {
    z-index: 100;
    bottom: 10%;
}
