:root {
    --accent: #2c2c2c;
    --primary: #4d4d4d;
    --button-fill: #49deff;
    color-scheme: light dark;
}

#livetl-chat {
    width: 100%;
    min-height: 0px;
    height: 100%;
    border: none;
}

#chat {
    width: 100%;
    height: 100%;
    min-height: 0px;
    border: none;
}

#stream {
    width: 100%;
    height: 100%;
    border: none;
}

* {
    background-color: black;
}

#videoPanel {
    --resizeable-width: calc(100% - 150px);
    width: var(--resizeable-width);
    height: 100%;
    order: 1;
}

#ltlPanel {
    flex-grow: 1;
    height: 100%;
    flex-direction: column;
    display: flex;
    order: 3;
}

#youtubeChatPanel {
    width: 100%;
    height: 80%;
    max-height: 100%;
}

#outputPanel {
    width: 100%;
    flex-grow: 1;
    position: relative;
    height: 0;
}

body {
    margin: 0;
}

.handle {
    background-color: var(--primary);
}

#handleV {
    width: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;
    order: 2;
}

#handleH {
    height: 10px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 1;
}

#handleH>span {
    margin-bottom: -1px;
    font-size: 20px;
}

.handle>span {
    color: lightgray;
    font-size: 19px;
    background-color: transparent;
}

#display {
    width: 100%;
    height: 100%;
    display: flex;
}

.ui-resizable-s {
    bottom: 0px !important;
}

.ui-resizable-e {
    right: 0px !important;
}

body {
    overflow: hidden;
}

.iframeWrapper {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.iframeWrapper>iframe {
    min-width: 0px !important;
    position: absolute;
    height: 100%;
    width: 100%;
}

#bottomRightPanel {
    width: 100%;
    flex-grow: 1;
    position: relative;
    height: 0;
}

#leftPanelContainer {
    width: 100%;
    height: 100%;
    border: none;
}

#ltlcaptions {
    z-index: 100;
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: #C5C5C5;
    font-family: "Roboto Light", sans-serif;
    background-color: transparent;
    cursor: move;
    height: fit-content;
    display: none;
    text-align: center;
    padding: 20px;
}

.captionSegment {
    color: #E5E5E5;
    word-wrap: break-word;
    word-break: break-word;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
    padding: 5px 10px;
}

#ltlcaptions>.ui-resizable-handle {
    cursor: ew-resize;
    background-color: var(--primary);
    opacity: 0.5;
    width: 10px;
    height: calc(100% - 40px);
    top: 20px;
}

#ltlcaptions>.ui-resizable-handle.ui-resizable-e {
    transform: translateX(-15px);
}

#ltlcaptions>.ui-resizable-handle.ui-resizable-w {
    transform: translateX(20px);
}