:root {
    --accent: #2c2c2c;
    --primary: #4d4d4d;
    color-scheme: light dark;
}

#livetl-chat {
    width: 100%;
    min-height: 0px;
    height: 100%;
    border: none;
}

#chat {
    width: 100%;
    height: 100%;
    min-height: 0px;
    border: none;
}

#stream {
    width: 100%;
    height: 100%;
    border: none;
}

* {
    background-color: black;
}

#videoPanel {
    --resizeable-width: calc(100% - 150px);
    width: var(--resizeable-width);
    height: 100%;
    order: 1;
}

#ltlPanel {
    flex-grow: 1;
    height: 100%;
    flex-direction: column;
    display: flex;
    order: 3;
}

#youtubeChatPanel {
    width: 100%;
    height: 80%;
    max-height: 100%;
}

#outputPanel {
    width: 100%;
    flex-grow: 1;
    position: relative;
    height: 0;
}

body {
    margin: 0;
}

.handle {
    background-color: var(--primary);
}

#handleV {
    width: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;
    order: 2;
}

#handleH {
    height: 10px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 1;
}

#handleH > span {
    margin-bottom: -1px;
    font-size: 20px;
}

.handle > span {
    color: lightgray;
    font-size: 19px;
    background-color: transparent;
}

#display {
    width: 100%;
    height: 100%;
    display: flex;
}

.ui-resizable-s {
    bottom: 0px !important;
}

.ui-resizable-e {
    right: 0px !important;
}

body {
    overflow: hidden;
}

.iframeWrapper {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.iframeWrapper > iframe {
    min-width: 0px !important;
    position: absolute;
    height: 100%;
    width: 100%;
}

/*<<<<<<< HEAD*/
#bottomRightPanel {
    width: 100%;
    flex-grow: 1;
    position: relative;    
    height: 0;
}

#leftPanelContainer {
    width: 100%;
    height: 100%;
    border: none;
}

#ltlcaptions {
    z-index: 100;
    bottom: 10%;
    left: 20%;
    position: absolute;
    color: #C5C5C5;
    margin-right: 20%;
}

.captionSegment {
    color: #E5E5E5;
    word-wrap: break-word;
    word-break: break-word;
    font-size: 20px;
}
/*=======
>>>>>>> develop*/
