name: Latest Release Build
on:
  release:
    types:
      - published
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - uses: c-hive/gha-yarn-cache@v1
      - name: Install modules
        run: yarn
      - name: Build extensions
        run: |
          yarn update:list
          yarn build:production --env version=$(echo -n ${{ github.ref }} | sed 's/[refs\/tagv]//g')
          yarn package
      - name: Upload Chrome build to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dist/LiveTL-Chrome.zip
          asset_name: LiveTL-Chrome.zip
          tag: ${{ github.ref }}
          overwrite: true
      - name: Upload Firefox build to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dist/LiveTL-Firefox.zip
          asset_name: LiveTL-Firefox.zip
          tag: ${{ github.ref }}
          overwrite: true
