name: Tests
on:
  [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with: 
          submodules: 'recursive'
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Set up Firefox
        run: sudo apt install -y firefox
      - name: Set up geckodriver and run tests
        run: DISABLE_CHROME="true" RETRIES="10" make test
